@font-face{
  font-family: "Terecia";
  src: url("assets/font/terecia/Terecia.ttf") format("truetype");
}

* {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: Arial;


}


.content {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  font-family: 'Terecia';
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 20px;

}

.title{
  font-size: 5.10em;

  margin-top: auto;
  margin-bottom: auto;


}
.branding{

margin-top: auto;
margin-bottom: auto;

  font-size: 2.25em;

}

a {

  text-decoration: none !important;
  color: #f1f1f1 !important;
  margin-left: 7px;

}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  background: url('assets/ezgif.com-video-to-gif.gif');
  background-size:cover;


  min-width: 100%; 
  min-height: 100%;
  z-index: -1;

}


@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 2)
    {
      .title {
        font-size: 5.75em;
      }
      .content {
        height: 10vh;
        padding-left: 35px;
        padding-right: 35px;
      }
      .branding
      {
        padding-top: 18px;
        font-size: 3.5em;
      }



    }
